@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');


body {
    margin: 30px;
    padding: auto;
    text-align: center;
    font-family:Dancing script;
    color: Black;
    background-color: pink;



}
p1{
    font-family: Rubik Distressed;

}
p2{
    font-family: Rubik Distressed;
}
p3{
    font-family: Rubik Distressed;
}
p4{
    font-family: Rubik Distressed;
}


