
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Ojuju:wght@200..800&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+20+Charted&display=swap');


:root {
    --cor-de-fundo: #fdbdbd;
    --roxo: #b357ff;
    --preto: #141313;
    --botao-ativo: #d891f8;
    --botao-inativo: #c972df80;
    --texto-fundo: #eee3f74d;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--preto);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;

}

.titulo-principal span {
    color: var(--roxo);
}

.botao {
    font-family: Honk;
    background-color: var(--botao-inativo);
    color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
    text-align: center;
}

.botoes {
    display: block;
}

.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--roxo);
}
.abas-textos{
     background-color: var(--texto-fundo);
     padding: 40px;
     border-radius: 0 0 40px 40px;
    }
.aba-conteudo.ativo{
   display:block;
    }
    
 .aba-conteudo{
     display: none;
    }
    
.aba-conteudo-titulo-principal{
     font-size: 28px;
    text-align: center;
    }
.aba-conteudo-titulo-secundario{
     text-align: center;
     color: var(--verde);
     text-transform: uppercase;
    }

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 40px 0 0;
    }

    @media screen and (min-width: 768px) {
        .botoes {
            display: flex;
        }

        .botao:first-child {
            border-radius: 40px 0 0 0;
        }

        .botao:last-child {
            border-radius: 0 40px 0 0;
        }
    }
}
h3{
    font-family: Dancing Script;
}
h4{
    font-family: Ojuju;
}
div{
    text-align: center;
}
h2{
    font-family: Tourney;
    
}
