@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap')


body {
    margin: 30px;
    padding: auto;
    text-align: justify;
    font-family:Dancing Script ;
    color: black;
    background-color: rgb(205, 162, 226);

}
p1{
    font-family: Teko;
}
p2{
    font-family: Teko;
}
p3{
    font-family: Teko;
}
p4{
    font-family: Teko;
}


